@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

h2{
  font-family: 'Train One', cursive;
  color: #CFDBD5;
  text-align: center;
  margin: 5%;
  font-size: 5vh;
}

body{
  background-color: #242423;
}

.street{
  margin: auto;
  width: 30%;
  height: 300px;

  display: flex;
  justify-content: space-around;
}

.street *{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #333533;

  align-items: center;
}

#building{
  display: grid;
  align-self: flex-end;
  justify-items: center;
}

#window{
  border-radius: 10%;
  background: #656363;
}

@keyframes blink {
  0%{background-color: #656363;}
  30%, 100%{box-shadow: 0 0 20px 8px #F5CB5C; background-color: #F5CB5C;}
}

.window1{
  width: 1em;
  height: 1em;
}

.window2{
  width: .9em;
  height: .9em;
}

.window3{
  width: 6vh;
  height: 1em;
}

.window4{
  width: .8em;
  height: .8em;
}

.window5{
  width: 1em;
  height: 1em;
}

.building1{
  width: 20%;
  height: 30%;
  grid-template-columns: 1fr 1fr;
}

.building2{
  width: 15%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.building3{
  width: 17%;
  height: 75%;
}

.building4{
  width: 23%;
  height: 30%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.building5{
  width: 19%;
  height: 70%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.exit{
  transition: .5s;
  text-align: center;
  position: absolute;
  width: 10vh;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #CFDBD5;
}

.exit a{
  font-size: 2.5vh;
  text-decoration: none;
  font-family: 'Train One';
  color: #CFDBD5;
}

.exit:hover{
  width: 14vh;
  transition: .5s;
}
